body {
  margin: 0;
  background: #000000;
  align-items: center;
  height: 100vh;
}

h1{
  color: #830000
}

.title{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  margin: 20px 0;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 350px;
  height: 100px;
  background: #073fd6;
  color: #95a0aa;
  font-size: 2.5rem;
  position: absolute;
  top: calc(45% - 51px);
  left: calc(54% - 230px);
}

.hide {
  display: none;
}
*{
  font-family: Arial, Helvetica, sans-serif
}

footer{
  color: #000;
  margin-top: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}