body{
  background:  #9dafff;
  font-family: 'Arvo', serif;
  margin: 0;
}

header{
  background-color: #000012;
  color: white;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

header img{
  height: 70px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  align-content: center;
  height: inherit;
  padding: 0 5px;
  display: inherit;
}

figure{
  margin: 0;
}

.menu{
  display: inherit;
}

ol,
ul{
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inherit;
}

li{
  height: inherit;
}

h1{
  color: rgb(241, 238, 9);
  margin: 0 70px 0 10px;
  padding: 50px;
}

h1 strong{
  color: rgb(6, 212, 51); 
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Libre Baskerville', serif;
}

h3,
h4{
  color: rgb(3, 133, 25);
}

h2{
/*   margin-left: 25px; */ 
text-align: center;
color: #d84f00;
}

.hero{
  display: flex;
  margin-top: 0; 
  background-color: black;
  background-image: url(imagenes/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right; 
}

.project-list{
  display: flex;
  flex-wrap: wrap;
}

.project-details{
  margin: -30px 40px 20px;
  background-color: #d7edfa;
  position: relative;
  padding: 20px;
  text-align: center;
}

.project-imageContainer{
  margin: 0;
}

.project{
  margin: 10px;
  max-width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #c2e8fd;
  -webkit-box-shadow: -18px 16px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -18px 16px 2px 1px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 2px 1px rgba(0,0,0,0.75);
}

.project-list a{
  color: rgb(185, 4, 4);
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 5px; 
  text-decoration: none;
}

.project img{
  height: 300px;
  width: 100%;
}

.container{
  /*border: 1px solid red;*/
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex: .95;
}

.knowledge{
  align-items: center;
}

.cursos{
  display: block;
  flex-wrap: wrap;
}

.cursos ul{
  display: flex;
}
.diploma{
  margin: 5px;
  text-decoration: none;
  border: 1px solid rgb(6, 2, 218);
  color: rgb(6, 2, 218);
  padding: 5px;
  border-radius: 10px;
}

.contact{
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.social{
  display: inherit;
  align-items: center;
}

.social-link{
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-size: 400px;
}

.social-link.instagram{
  background-image: url(imagenes/instagram.svg);
  background-size: 40px;
}
.social-link.github{
  background-image: url(imagenes/github.svg);
  background-size: 40px;
}
.social-link.facebook{
  background-image: url(imagenes/facebook.svg);
  background-size: 40px;
}

.icon-container{
  border-radius:  25px;
  background-color: black;
  position: fixed;
  width: 2.5em;
  height: 2.5em;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 10px;
  z-index: 2;
}
.icon-list2{
  color: #ffffff
}


@media screen and (max-width: 1024px){
  .project{
    width: 46%;
  }
}

@media screen and (max-width:767px){
  header{
    display: block;
    text-align: center
  }

  .hero{
    display: initial;
    text-align: center;
  }

  .img-hero{
    width: 100%;
  }

  h1{
    margin: 0;
    padding: 10px;
  }

  ol{
    text-align: center
  }

  .project{
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 480px){
  .icon-container{
    display: flex;
  }
  .cursos{
    margin-bottom: 20px
  }
  .project-imageContainer{
    width: 100%;
  }
  .container{
    margin: 0;
  }

  .project-imageContainer img{
    width: 100%
  }
  .cursos ul{
    display: initial;
  }
  .menu{
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }
  .menu.is-active{
    left: 0;
  }
  .menu ul{
    display: initial;
  }
  .menu a{
    font-size: 2em;
  }
}

@media screen and (max-width: 320px){

  .contact{
    margin-top: 15px;
    padding-bottom:10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
