body{
  background:  #5cd0d9;
  font-family: 'Arvo', serif;
  margin: 0;
}

header{
  background-color: rgb(6, 0, 43);
  color: white;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

header img{
  height: 70px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  align-content: center;
  height: inherit;
  padding: 0 5px;
  display: inherit;
}

figure{
  margin: 0;
}

.menu{
  display: inherit;
}

ol,
ul{
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inherit;
}

li{
  height: inherit;
}

h1{
  color: white;
  margin: 0 70px 0 10px;
  padding: 50px;
}

h1 strong{
  color: rgb(1, 0, 15);
color: rgb(182, 60, 3); 
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Libre Baskerville', serif;
}

h2{
/*   margin-left: 25px; */ 
text-align: center;
color: #263843;
}

.hero{
  display: flex;
  margin-top: 0; 
  height: 300px;
  /*background-image: url(imagenes/logoW.jpg);*/
  background-color: #07c7ce;
  background-size: 500px 300px;
/*   background-repeat: no-repeat;
  background-position: right; */
}

.project-list{
  display: flex;
  flex-wrap: wrap;
}

.project-details{
  margin: -30px 40px 20px;
  background-color: #d7edfa;
  position: relative;
  padding: 20px;
  text-align: center;
}

.project-imageContainer{
  margin: 0;
}

.project{
  margin: 10px;
  max-width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #c2e8fd;
}

.project-list a{
  color: rgb(185, 4, 4);
  padding: 2px 6px;
  border: 1px solid;
  border-radius: 5px; 
  text-decoration: none;
}

.project img{
  height: 300px;
  width: 100%;
}

.container{
  /*border: 1px solid red;*/
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex: .95;
}

.knowledge{
  align-items: center;
}

.cursos{
  display: block;
  flex-wrap: wrap;
}

.cursos ul{
  display: flex;
}
.diploma{
  margin: 5px;
  text-decoration: none;
  border: 1px solid blue;
  color: blue;
  padding: 5px;
  border-radius: 5px;
}

.contact{
  display: flex;
  justify-content: space-between;
  background-color: rgb(74, 150, 250);
}

.social{
  display: inherit;
  align-items: center;
}

.social-link{
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-size: 400px;
}

.social-link.instagram{
  background-image: url(imagenes/instagram.svg);
  background-size: 40px;
}
.social-link.github{
  background-image: url(imagenes/github.svg);
  background-size: 40px;
}
.social-link.facebook{
  background-image: url(imagenes/facebook.svg);
  background-size: 40px;
}

@media screen and (max-width: 1024px){
  .project{
    width: 46%;
  }
}

@media screen and (max-width:767px){
  header{
    display: block;
    text-align: center
  }

  .hero{
    display: initial;
    text-align: center;
  }

  .img-hero{
    width: 100%;
  }

  h1{
    margin: 0;
    padding: 10px;
  }

  ol{
    text-align: center
  }

  .project{
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 480px){
  .project-imageContainer{
    width: 100%;
  }
  .container{
    margin: 0;
  }

  .project-imageContainer img{
    width: 100%
  }
}

@media screen and (max-width: 320px){
  .cursos ul{
    display: initial;
  }
  .contact{
    margin-top: 15px;
    padding-bottom:10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
